@import '../../styles/theme/theme.scss';
@import '../../styles/mixins/flex_variations';
@import '../../styles/mixins/responsive';
@import '../../styles/mixins/size';
@import '../../styles/mixins/display';
@import '../../styles/mixins/typography';
@import '../../styles/mixins/images';

$url1: '../../../assets/images/pages/home/insideHouse.jpg';

.mat-toolbar {
    @extend %df-d-flex-fd-row-jc-center-ai-center;
}

@media screen and (min-width: 0px) {
    .cdk-menu {
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(40px);
        overflow: auto;
        @include height-width-100-percent;
        @include min-height-100;
        @include width-100-percent;
        @include background-image($url1);
        
        // .img {
        //     @include height-width-100-percent;
        //     @include min-height-100;
        //     @include width-100-percent;
        //     @include background-image($url1);
        // }

        .wrapper {
            @include width-100-percent;
            @include min-height-100;
            @include space-between-center;
            flex-direction: column;
            position: absolute;
            top: 0;

            .sub-wrapper {
                .logo-wrapper {
                    @include width-100-percent;
                    @include center-center;
                    padding: 2rem;

                    .logo {
                        @include dynamic-height-width-percent(3rem, 3rem);
                    }
                }

                .name {
                    @include center-center;
                    @include responsive-text-name;
                    color: white;
                }
            }

            .tag-line {
                @include height-width-100-percent;
                @include center-center;
                @include responsive-text-tag-line;
                color: white;
                font-family: 'Dancing Script', cursive !important;
                position: relative;
                top: 15%;
            }

            .icon {
                @include height-width-100-percent;
                @include center-bottom;

                .mat-icon-button {
                    background-color: inherit;
                    border: 0;

                    .mat-icon {
                        @include dynamic-height-width-percent(6rem, 6rem);
                        font-size: 6rem;
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 0px) {
    .home {
        background-color: $white;

        .r1 {
            .r1c1 {
                padding: 0%;

                .mat-toolbar {
                    background-color: $transparent20;
                    backdrop-filter: blur(2rem);
                    position: sticky;
                    top: 0;
                    z-index: 99;
                    width: 100%;

                    .r1c1r1 {
                        width: 100%;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;

                        .r1c1r1c1 {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: max-content;

                            .social-media-group {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .mat-icon-button {
                                    transition: 0.3s;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .bi-icon {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: large;
                                        color: $black !important;
                                        // transition: 0.3s;
                                    }
                                }

                                .mat-icon-button:hover {
                                    transition: 0.3s;

                                    .bi-icon {
                                        font-size: x-large;
                                        // transition: 0.3s;
                                        color: $black;
                                    }
                                }
                            }
                        }

                        .r1c1r1c2 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: max-content;

                            .logo-wrapper {
                                .logo {
                                    width: 3rem;
                                }
                            }

                            .logo-wrapper {
                                position: absolute;
                                left: 45%;
                                right: -1px;
                            }
                        }

                        .r1c1r1c3 {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            width: max-content;

                            .button-group {
                                display: flex;
                                align-items: center;

                                .mat-button {
                                    color: $white;
                                }

                                .mat-icon-button {
                                    .mat-icon {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $black;
                                    }
                                }

                                .mat-icon-button:hover {
                                    .mat-icon {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                }

                .mat-sidenav-container {
                    background-color: $white;

                    .mat-sidenav {
                        background-color: $transparent80;
                        width: 100% !important;
                        backdrop-filter: blur(0.5rem);
                        padding-top: 4rem;

                        .mat-nav-list {
                            animation: fade-in 2s;

                            .close-button {
                                display: flex;
                                align-content: flex-end;
                                justify-content: flex-end;
                                align-self: flex-end;

                                .mat-icon-button {
                                    .mat-icon {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $black;
                                    }
                                }

                                .mat-icon-button:hover {
                                    .mat-icon {
                                        color: $black;
                                    }
                                }
                            }

                            .a {
                                text-align: start;
                                text-indent: 2rem;

                                .h6 {
                                    text-transform: uppercase;
                                    color: $white;
                                    font-size: 1rem;
                                    transition: 0.3s ease-in-out;
                                }
                            }

                            .a:hover {
                                .h6 {
                                    // color: $light-beige;
                                    font-size: 1.3rem;
                                    transition: 0.3s ease-in-out;
                                    letter-spacing: 0.5rem;
                                }
                            }

                            .mat-accordion {
                                .mat-expansion-panel {
                                    background-color: inherit;
                                    box-shadow: none;
                                    color: $white;

                                    .mat-expansion-panel-header {
                                        padding: 0 1rem;

                                        .mat-panel-title {
                                            .h6 {
                                                width: 100%;
                                                text-transform: uppercase;
                                                text-indent: 2rem;
                                                color: $white;
                                                font-size: 1rem;
                                                transition: 0.3s ease-in-out;
                                            }
                                        }
                                    }

                                    .mat-expansion-panel-header:hover {
                                        .mat-panel-title {
                                            .h6 {
                                                color: $white;
                                                font-size: 1.3rem;
                                                transition: 0.3s ease-in-out;
                                                letter-spacing: 0.5rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .mat-sidenav-content{
                        min-height: 100vh;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .home {
        .r1 {
            .r1c1 {
                .mat-toolbar {
                    .r1c1r1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        // .r1c1r1c1 {}

                        .r1c1r1c2 {
                            .logo-wrapper {
                                position: absolute;
                                left: 48.7%;
                                right: 48.7%;
                            }
                        }

                        // .r1c1r1c3 {}
                    }
                }

                .mat-sidenav-container {
                    .mat-sidenav {
                        width: 60% !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .home {
        .r1 {
            .r1c1 {
                .mat-toolbar {
                    .r1c1r1 {
                        width: 100%;
                        // .r1c1r1c1 {}
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        .r1 {
            .r1c1 {
                .mat-sidenav-container {
                    .mat-sidenav {
                        width: 30% !important;
                    }
                }
            }
        }
    }
}