<div class="container-fluid home">
    <div class="row r1">
        <div class="col-md-12 r1c1">
            <h1 class="h1">Contact Us</h1>
        </div>
        <div class="col-md-6 r1c2">
            <app-contact-form></app-contact-form>
        </div>
        <div class="col-md-6 r1c3">
            <div class="address">
                <h1 class="h1">Kimaya House</h1>
                <h3 class="h3">Aditya Birla Hospital Road , Near Dange Chowk , Thergoan,
                    Pimpri-Chinchwad, Pune - 411033</h3>
                <h3 class="h3">Phone - 9552502704</h3>
                <h3 class="h3">Email - info@mbarchitects.co.in</h3>
            </div>
        </div>
    </div>
</div>