<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-6 r1c1">
            <h1 class="h1">DESIGN IDEOLOGY</h1>
            <h5 class="h5">Architecture to me is based on a number of cosmic principles-Functionality and
                Aesthetics, being the primary. After a thorough understanding of the user’s
                psychology, the design of a space should be true to its function while at the same
                time creative enough to keep the targeted senses of the user engaged, and
                contended. I want my designs to simplify the lives of all the immediate and
                intermediate users, adding comfort and nurturing smiles while I continue with my
                possible contribution to the society by creating opportunities for employment striving
                harder to leave a mark on the skyline.</h5>
        </div>
        <div class="col-lg-6 r1c2">
            <div class="row r1c1r1">
                <div class="col-lg-12 r1c1r1c1">
                    <img src="../../../../assets/images/pages/about/vision-mission/IMG_0199.JPG" alt="" class="img">
                </div>
                <div class="col-lg-12 r1c1r1c2">
                    <!-- <img src="../../../../assets/images/pages/about/vision-mission/IMG_0058.JPG" alt="" class="img"> -->
                    <img src="../../../../assets/images/pages/about/vision-mission/FINAL EDITED.png" alt="" class="img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <h1 class="h1">OUR SPACE</h1>
        </div>
        <div class="col-lg-5 r1c2" style="height: 450px !important;">
            <div class="row r1c1r2">
                <div class="col-lg-6 r1c1r1c2">
                    <img src="../../../../assets/images/pages/about/vision-mission/our-space/Kimaya House Facade-ink.jpeg" alt="" class="img">
                </div>
            </div>
        </div>
        <div class="col-lg-7 r1c1">
            <h5 class="h4">
                We welcome you to our insides as we share our very own designed office pictures and
                videos over the next few days...<br><br>
                The journey has been an overwhelming one as it was our deepest desire and opportunity to
                showcase our architecture and interior skills having a free flow,nurturing it with details.
                Every team member put his best foot forward with immense dedication under the
                knowledgeable guidance,expertise and leadership of our directors Architect Manik Buchade
                ,Anup Satpute who left no stone unturned to turn their dream into reality.<br><br>
                We proudly present to you "The Kimaya House" every step into this space brings a
                accomplishing smile on each of our faces.
            </h5>
        </div>
        <div class="col-sm-12">
            <app-carousel-our-space></app-carousel-our-space>
        </div>
    </div>
</div>