<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <app-carousel-sub-projects [images]="n_s_g_royal_one_pimple_nilakh" [name]="name[0]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="jigar_vyas_skylish_bliss_punawale_s_no_21" [name]="name[1]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="sai_tirupati_wadmukhwadi" [name]="name[1]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="kate_nitin_heramb_deve" [name]="name[3]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="n_s_g_royal_miraj" [name]="name[2]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="arekar_vilas_wakad" [name]="name[5]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="skylark_kiwale" [name]="name[3]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="agrawal_akash_etasha" [name]="name[7]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="goyal_ganga_asmi_wakad" [name]="name[4]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="abhishek_pandhre" [name]="name[9]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="grand_west_thergaon" [name]="name[5]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="kate_satyawan_dapodi" [name]="name[11]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="nakoda_shine_city_chikhali" [name]="name[6]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="sarthak_buildtech_moshi" [name]="name[13]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="abhiman_vishwa_chikhali" [name]="name[7]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="chaudhary_ramlal_rahatni" [name]="name[15]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="ravikiran_phase_2_wadmukhwadi" [name]="name[8]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="bansal_chikhali" [name]="name[17]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="global_lotus" [name]="name[9]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="gk_associates" [name]="name[19]"></app-carousel-sub-projects> -->
            <app-carousel-sub-projects [images]="samrajya_pimple_gurav" [name]="name[10]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="kolosus_greens_city" [name]="name[11]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="rajlakshmi_greens_shrikant_bhondve" [name]="name[12]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sumit_tayal" [name]="name[13]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="banthiya_m_n_landmark_tathawade" [name]="name[14]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="manav_group_wakad" [name]="name[15]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="amora" [name]="name[16]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="estado_property_kiwale" [name]="name[17]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="shrirang_barne_royal_court" [name]="name[18]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="goodwill_palette" [name]="name[19]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="manas_valley" [name]="name[30]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="shri_residency_chikhali" [name]="name[31]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="shubharambh_greens_ravet" [name]="name[32]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="alpine_aura_borhadewadi_moshi" [name]="name[33]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="patel_greens_sangwade" [name]="name[34]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sonesta_wakad" [name]="name[35]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="nova_residency_tathawade" [name]="name[36]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="mithila_heights_chikhali" [name]="name[37]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sankalp_vastu_chovisawadi" [name]="name[38]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sonigara_nilay" [name]="name[39]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="neelkanth_residency_chikhali" [name]="name[40]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="star_wood_tathawade" [name]="name[41]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="ravi_kiran_phase_1_wadmukhwadi" [name]="name[42]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="royal_group_kiwale" [name]="name[43]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="kesar_valley_chikhali" [name]="name[44]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="pushpak_dudulgaon" [name]="name[45]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="soham_developers_kasarwadi" [name]="name[46]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="kesar_kingston_moshi" [name]="name[47]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="devrai_dudulgaon" [name]="name[48]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="ravitej_dudulgaon" [name]="name[49]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="raviuday_moshi" [name]="name[50]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sahil_vignesh_residency_wakad" [name]="name[51]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="bansal_vista_ravet" [name]="name[52]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="avenues_wakad" [name]="name[53]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="stellar_rhythm_wakad" [name]="name[54]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="lotus_vrundawan_kiwale" [name]="name[55]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="indraprabha_kiwale" [name]="name[56]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="lotus_sanskruti" [name]="name[57]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="swapnapurti" [name]="name[58]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="amorahomes_wakad" [name]="name[59]"></app-carousel-sub-projects>

            <app-carousel-sub-projects [images]="k_county" [name]="name[60]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="muktangan_shylam_ravet" [name]="name[61]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="soniara_pearl_kiwale" [name]="name[62]"></app-carousel-sub-projects> -->
        </div>
    </div>
</div>