<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <app-carousel-sub-projects [images]="ramkrushna_more_auditorium_chinchwad" [name]="name[0]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="b_ward" [name]="name[1]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="dighi_school" [name]="name[2]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="dapodi_school" [name]="name[3]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="chikhali_school" [name]="name[4]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="dudulgaon_school" [name]="name[5]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="karamchari_bhavan_thergoan" [name]="name[6]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="swimming_pool_sangvi" [name]="name[7]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="marungi_school" [name]="name[8]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="cultural_hall_sangvi" [name]="name[9]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="vimal_education_tathawade" [name]="name[10]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="kala_krida_acadmy_morewadi" [name]="name[11]"></app-carousel-sub-projects>
            <!-- <app-carousel-sub-projects [images]="kimaya_office" [name]="name[12]"></app-carousel-sub-projects> -->
        </div>
    </div>
</div>