<div class="container-fluid home">
    <div class="row r1">
        <div class="col-lg-12 r1c1">
            <app-carousel-sub-projects [images]="morya_garden" [name]="name[0]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="football_ground_pradhikaran" [name]="name[1]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="anand_dham_smashan_bhoomi_morewadi" [name]="name[2]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="jog_maharaj_garden" [name]="name[3]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="sangvi_garden" [name]="name[4]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="bopkhel_garden" [name]="name[5]"></app-carousel-sub-projects>
            <app-carousel-sub-projects [images]="shivaji_statue_at_fugewadi" [name]="name[6]"></app-carousel-sub-projects>
        </div>
    </div>
</div>