<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="carousel">
                <owl-carousel-o [options]="customOptions">
                    <ng-template *ngFor="let image of images" carouselSlide>
                        <div class="img-wrapper">
                            <img class="img" [src]="image.path" alt="Home carousel images">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>