@import '../../styles/theme/theme.scss';
@import '../../styles/mixins/display';
@import '../../styles/mixins/size';
@import '../../styles/mixins/responsive';

@media screen and (min-width: 0px) {
    .home {
        //height: 92vh;
        height: 100% !important;

        .r1 {
            @include center-center;
            @include height-100-percent;

            .r1c1 {
                @include center-center;

                .h1 {
                    padding: 2rem 4rem 0 4rem;
                }
            }

            .r1c3 {
                @include center-center;

                .tag-line {
                    .h1 {
                        @include responsive-text-tag-line;
                        padding: 1rem;
                        padding-bottom: 8rem;
                        //font-family: 'Dancing Script', cursive;
                        font-family: "Rajdhani", sans-serif !important;;
                    }
                }
            }
        }
    }
}