$font-sizes: (
    0px: 1rem,
    320px: 1.5rem,
    768px: 2rem,
    1024px: 2.5rem,
    1440px: 3rem,
    1920px: 4rem,
);

@mixin responsive-text {
    @each $breakpoint, $font-size in $font-sizes {
        @media screen and (min-width: $breakpoint) {
            font-size: $font-size;
        }
    }
};

$name: (
    0px: 1rem,
    320px: 1.1rem,
    768px: 1.2rem,
    1024px: 1.3rem,
    1440px: 1.4rem,
    1920px: 1.5rem,
);

@mixin responsive-text-name {
    @each $breakpoint, $font-size in $name {
        @media screen and (min-width: $breakpoint) {
            font-size: $font-size;
        }
    }
};

$tag-line: (
    0px: 1rem,
    320px: 2rem,
    768px: 3rem,
    1024px: 4rem,
    1440px: 5rem,
    1920px: 6rem,
);

@mixin responsive-text-tag-line {
    @each $breakpoint, $font-size in $tag-line {
        @media screen and (min-width: $breakpoint) {
            font-size: $font-size;
        }
    }
};