// VERTICAL
@mixin vh100 {
    height: 100vh;
}

@mixin vw100 {
    width: 100vw;
}

@mixin vhvw100 {
    height: 100vh;
    width: 100vw;
}

// PERCENTAGE
@mixin height-100-percent {
    height: 100%;
}

@mixin width-100-percent {
    width: 100%;
}

@mixin height-width-100-percent {
    height: 100%;
    width: 100%;
}

// MIX
@mixin min-height-100 {
    min-height: 100vh;
    height: 100%;
}

// DYNAMIC
@mixin dynamic-height-width-percent($height, $width) {
    height: $height;
    width: $width;
}