// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Manik-Buchade-primary: mat.define-palette(mat.$indigo-palette);
$Manik-Buchade-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Manik-Buchade-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Manik-Buchade-theme: mat.define-light-theme((color: (primary: $Manik-Buchade-primary,
				accent: $Manik-Buchade-accent,
				warn: $Manik-Buchade-warn,
			)));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Manik-Buchade-theme);

/* You can add global styles to this file, and also import other style files */
/* DANCING SCRIPT / NOTO SANS / NOTO SERIF */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Rajdhani', sans-serif !important;
	// font-family: 'Dosis', sans-serif;
	// font-family: 'Dancing Script', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 !important;
}

.panelClass {
	background-color: #00000020;
	backdrop-filter: blur(40px);
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';