<div class="container-fluid home" *ngIf="(isMediumLargeXLarge | async)">
    <div class="row r1">

        <div class="col-lg-4 r1c1">
            <div class="r1c1-group">
                <div class="logo-wrapper">
                    <img class="logo" src="../../../assets/logo/manikBuchadeLogo.jpg" alt="MB Architects Logo">
                </div>
            </div>
        </div>

        <div class="col-lg-4 r1c3">
            <div class="r1c3-group">
                <div class="title">
                    <h6 class="h6">Contact Us</h6>
                </div>
                <div class="contact-group">
                    <div class="icon-one-group">
                        <i class="bi-phone bi-icon"></i>
                        <a class="a" href="tel:+919552502704">+91 9552502704</a>
                    </div>
                    <div class="icon-two-group">
                        <i class="bi-envelope bi-icon"></i>
                        <a class="a" href="mailto:info@mbarchitects.co.in">info@mbarchitects.co.in</a>
                    </div>
                    <div class="icon-three-group">
                        <i class="bi-card-text bi-icon"></i>
                        <p class="p">Kimaya House,
                            Aditya Birla Hospital Road,
                            Dange Chowk Rd, Thergaon,
                            Pune - 440033</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-4 r1c2">
            <div class="r1c2-group">
                <div class="title">
                    <h6 class="h6">Company Terms</h6>
                </div>
                <div class="company-group">
                    <a class="a payment" routerLink="payment" (click)="scrollToTop()">Payment</a>
                    <a class="a warranty" routerLink="warranty" (click)="scrollToTop()">Warranty</a>
                    <a class="a cancellations" routerLink="cancellations" (click)="scrollToTop()">Cancellations</a>
                    <a class="a grievance" routerLink="grievance" (click)="scrollToTop()">Grievance</a>
                    <a class="a careers" routerLink="careers" (click)="scrollToTop()">Careers</a>
                </div>
            </div>
        </div> -->

        <div class="col-lg-4 r1c4">
            <div class="r1c4-group">
                <div class="title">
                    <h6 class="h6">Follow Us</h6>
                </div>
                <div class="social-media-group">
                    <a class="mat-icon-button" target="_blank" [href]="socialMediaLinksServiceData.facebook"
                        mat-icon-button>
                        <i class="bi-facebook bi-icon"></i>
                    </a>
                    <!-- <a class="mat-icon-button" target="_blank" [href]="socialMediaLinksServiceData.pinterest"
                        mat-icon-button>
                        <i class="bi-pinterest bi-icon"></i>
                    </a> -->
                    <a class="mat-icon-button" target="_blank" [href]="socialMediaLinksServiceData.linkedin"
                        mat-icon-button>
                        <i class="bi-linkedin bi-icon"></i>
                    </a>
                    <a class="mat-icon-button" target="_blank" [href]="socialMediaLinksServiceData.instagram"
                        mat-icon-button>
                        <i class="bi-instagram bi-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-lg-12 r3c1">
            <p class="title">MB Architects &copy; 2023</p>
        </div>
    </div>

</div>